<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Activity Tracker</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list id="inbox-list" lines="none">
      @for (p of appPages; track p.title) {
      <ion-menu-toggle auto-hide="false">
        <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
          <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      }
    </ion-list>
  </ion-content>
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-button expand="full" fill="clear" color="danger" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>